@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  --red: rgb(198, 18, 25);
  --faint-red: rgba(198, 18, 25, 0.6);
  --black: rgb(40, 40, 40);
  --dark-grey: rgb(161, 161, 161);
  --light-grey: rgb(230, 230, 230);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 95vw;
  margin: auto;
  background-color: var(--light-grey);
  font-family: 'Poppins';
}

.to-top {
  text-decoration: none;
  color: white;
  position: fixed;
  font-size: 12px;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.45rem 0.6rem;
  background-color: var(--faint-red);
  transition: all 0.5s;
  border-radius: 50%;
}

.to-top:hover {
  background-color: var(--red);
}



/* Header navigation */
.header {
  width: 95vw;
  margin: 1.5rem auto 0.5rem auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 1rem 2rem;
  
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
}

#header-image {
  height: 5rem;
}

.navbar {
  display: flex;
}

.nav-tab-container {
  width: fit-content;
}

.nav-tab {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  margin: 0rem 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--dark-grey);
  transition: all 0.2s;
}

.nav-divider {
  color: var(--dark-grey);
  padding: 0 0.75rem;
  margin: 0;
}

.nav-tab-container:hover > .nav-tab {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

.active-nav {
  color: var(--red) !important;
  border-bottom: 3px solid var(--red);
}

.navbar .dropdown-menu {
  position: absolute;
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .dropdown-item {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  background-color: white;
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-grey);
  margin-top: -1px;
  transition: all 0.5s;
  color: var(--black);
  font-weight: 300;
}

.navbar .dropdown-item:hover {
  background-color: rgb(240, 240, 240);
}

.about-section {
  background-color: white;
  padding: 3rem 3rem;
  margin-bottom: 0.5rem;
}

.about-section p {
  font-weight: 300;
  font-size: 16px;
}

.about-content > :last-child, .info-slot-text > :last-child {
  margin-bottom: 0;
}

    .left-image {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    .right-image {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    .gallery-image {
      text-align: center;
    }

.about-thumb {
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

    .left-image .about-thumb { margin-right: 1.5rem; }
    .right-image .about-thumb { margin-left: 1rem; }

.about-thumb img {
  object-fit: cover;
  min-width: 100%;
  border-radius: 10px;
}

.about-thumb:hover, .gallery img:hover {
  transform: scale(1.03);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 0.75rem;
  margin-bottom: 2rem;
}

.gallery img {
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  transition: all 0.5s;
}




/* Page sections */
.homepage, .lessons, .teachers, .events {
  background-color: white;
  padding-bottom: 2.5rem;
}

.banner {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75) 90%), url("https://p0.nicelocal.ca/preview/DUI6oAJnaKTgaUimQSiLTg/640x174x85/1/3/3/original_6134df8e40c82f448e1d9f8f_6281047a8267c3.33944085.jpg");
}

#lessons-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75) 90%), url("https://scontent-yyz1-1.xx.fbcdn.net/v/t31.18172-8/22791585_681497872042368_1928675723294383125_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=XDKcjr_TQYIAX9fJmg_&tn=BA-zpYYrH1cox7WW&_nc_ht=scontent-yyz1-1.xx&oh=00_AT-Vd84TwwFBlMZ7JFTR2IqPD6-78BB2390BH2j-uzMhWg&oe=632654A1");
}

#booking-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) 90%), url("https://www.sagemusic.co/wp-content/uploads/2018/01/How-long-a-music-lesson-should-you-take.png");
}

#teachers-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 90%), url("https://scontent-yyz1-1.xx.fbcdn.net/v/t31.18172-8/22791701_681497645375724_2984418731638646606_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=B1hEBvE3np8AX8wkdWz&_nc_ht=scontent-yyz1-1.xx&oh=00_AT-H-200NTarQezKjOuCBN6YImnFdhkHSOgiiDrWUwOv3Q&oe=6328E87D");
}

#contact-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 90%), url("https://pr1.nicelocal.ca/hsVOjPKg-37c6dokBlzz6g/580x580,q85/4px-BW84_n3lJhgQGe6caI1vAfZfD8yOKqS4dO4Py5dVeCDAtW6xSck1cF30EihxadZmCzlj0YHjMu6eiQ9zQOVSrDpGBpACML_cwW-Pmm76ziIeMlK3kC3RQaXXHTU230EI-rLDNq8");
}

#about-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 90%), url("https://scontent-yyz1-1.xx.fbcdn.net/v/t1.6435-9/44961161_880537928805027_533390549676195840_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=pEc4IVWGwuQAX8g89qs&_nc_ht=scontent-yyz1-1.xx&oh=00_AT_G70wd07dXL4YhehLNlWznn9OA-svKWZwP6YanxEM06g&oe=6324679D");
}

#events-banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 90%), url("https://scontent-yyz1-1.xx.fbcdn.net/v/t1.6435-9/60361800_992977087561110_3910436705030635520_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=ZxPODTJ4PAMAX9cLkHu&_nc_ht=scontent-yyz1-1.xx&oh=00_AT_Tf-GZbaKiZr67sSfx7B-uHKVEue1dNnW9-9wuAE-jBQ&oe=6327745B");
}

.banner h2 {
  padding: 1rem;
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.banner p {
  padding: 0 2rem 1rem 2rem;
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.linkable-banner, .linkable-banner h2 {
  text-decoration: none;
  transition: all 0.5s;
}

.linkable-banner:hover h2 {
  color: var(--red);
}

.footer {
  width: 95vw;
  margin: 0.5rem auto 0 auto;
  background-color: white;
  padding: 1.75rem;
  text-align: center;
  color: var(--dark-grey);
  font-size: 13px;
  box-sizing: border-box;
}

.socials > * {
  padding: 0 0.1rem 0 0.1rem;
  color: var(--dark-grey);
  transition: all 0.3s;
}

.socials > *:hover {
  color: var(--faint-red);
}

.footer p {
  margin-bottom: 0.25rem;
  font-size: 10px;
}

.specific-lesson-desc, .specific-teachers {
  background-color: white;
  padding: 3rem 2rem 0 2rem;
}

.specific-lesson-desc h1, .specific-teachers {
  text-align: center;
  margin-bottom: 1rem;
}

.specific-lesson-desc p {
  font-weight: 300;
}

.info-slot-text .specific-teacher {
  font-size: 14px;
  line-height: 1.9;
  color: var(--black);
}

.book-trial {
  width: 95vw;
  box-sizing: border-box;
  background-color: white;
  font-weight: 300;
  color: var(--black);
}

.book-trial form {
  padding: 2rem 4rem;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.book-trial h3 {
  padding-top: 2rem;
  font-weight: 700;
}

.book-trial label {
  padding-right: 0.5rem;
  font-weight: 400;
}

.book-trial div {
  padding-bottom: 0.5rem;
}

.book-trial .button, .send-email {
  width: fit-content;
  border: none;
  font-family: 'Poppins';
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;

  padding: 1rem 1.5rem;
  background-color: var(--red);
  color: white;
  transition: all 0.5s;
  margin-right: 0.5rem;
}

.book-trial .button:hover, .book-trial .active-selection, .send-email:hover {
  background-color: var(--black);
}

.book-trial .placeholder {
  font-style: italic;
  padding: 0;
  color: var(--dark-grey);
}

.book-trial .lesson-form-section {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.book-trial input, .book-trial select {
  padding: 0.25rem 0.5rem;
  border: 1.5px solid var(--light-grey);
  border-radius: 0.25rem;
  transition: all 0.5s;
  font-family: 'Poppins';
}

.book-trial input:focus, .book-trial select:focus {
  outline: none;
  border-color: var(--dark-grey);
}

.error {
  color: red;
  font-size: 14px;
  padding-bottom: 0.5rem;
}

.not-found {
  background-color: white;
  text-align: center;
  padding: 2rem;
}


/* Page objects */
.free-trial, .back-home {
  all: unset;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;

  padding: 1rem 1.5rem;
  display: inline-block;
  background-color: var(--faint-red);
  color: white;
  transition: all 0.5s;
}

.back-home {
  margin-top: 1rem;
}

.free-trial:hover, .back-home {
  background-color: var(--red);
}

.divider {
  border-bottom: 0.5px solid var(--red);
  border-radius: 10rem;
  margin: 3rem 6rem 0rem 6rem;
}

.section-icon {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}

.lesson-categories-title, .teacher-categories-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-offers-title, .events-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-offers, .lesson-categories, .teacher-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 0.3rem;
  margin: 0.25rem;
  overflow: hidden;
}

.home-offers .info-card {
  width: 42.5vw;
}

.lesson-categories .info-card, .teacher-categories .info-card {
  width: 30vw;
}

.info-card img {
  object-fit: cover;
  width: 100%;
  height: 55vh;
  padding-bottom: 1rem;
}

.info-card h2 {
  transition: all 0.5s;
  padding: 0 1.5rem;
  font-weight: 600;
}

.teacher-categories .info-card h2 {
  padding-bottom: 1.5rem;
}

.info-card h6 {
  padding: 0 1.5rem 0.5rem 1.5rem;
  font-weight: 500;
}

.info-card p {
  font-weight: 300;
  padding: 0.5rem 1.5rem 2rem 1.5rem;
  font-size: 16px;
  margin: 0;
}

.info-card:hover, .testimonial:hover {
  transform: scale(1.01);
}

.info-card:hover > h2 {
  color: var(--red);
}


.info-slot {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.info-slot h2 {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.info-slot h2:before,
.info-slot h2:after {
  background-color: var(--light-grey);
  content: "";
  display: inline-block;
  height: 1.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.info-slot h2:before {
  right: 0.75em;
  margin-left: -50%;
}

.info-slot h2:after {
  left: 0.75em;
  margin-right: -50%;
}

.info-slot-content {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: fit-content(0);
}

.info-slot-thumb {
  overflow: hidden;
  display: flex;
}

.info-slot-thumb img {
  object-fit: cover;
  min-width: 100%;
  border-radius: 10px;
}

.info-slot-text {
  margin-left: 1.5rem;
}

.info-slot-text > h6, p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.info-slot-text h6 {
  font-weight: 500;
}

.info-slot-text h7 {
  font-weight: 500;
  font-size: 12px;
}

.info-slot-text p {
  font-weight: 300;
  font-size: 16px;
}


.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-content > * {
  padding: 2rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s;
  transition: border 0.2s;
  border-left: 3px solid rgba(0, 0, 0, 0);
}

.contact-content > *:hover {
  background-color: rgb(250, 250, 250);
  border-left: 3px solid var(--red);
}

.contact-content h6 {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 16px;
}

.contact-content p, li {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.contact-content ul {
  padding-bottom: 1rem;
}

.contact-content li {
  margin-left: 2.5rem;
}

.contact-information {
  margin-right: 0.5rem;
  box-sizing: border-box;
}

.contact-information p {
  padding-bottom: 0.5rem;
}

.contact-information iframe {
  width: 100%;
  height: 40vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1.5px solid var(--light-grey);
  border-radius: 0.25rem;
  transition: all 0.5s;
  font-family: 'Poppins';
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border-color: var(--dark-grey);
}

.contact-form .send-email {
  width: fit-content;
}

.times-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.times-button {
  display: block;
  font-family: 'Poppins';
  cursor: pointer;

  box-sizing: border-box;
  padding: 1rem;
  margin-right: 0.25rem;
  margin-bottom: -0.5rem;
  background-color: var(--red);
  color: white;
  transition: all 0.5s;
  text-align: center;
}

.times-button h4 {
  font-weight: 600;
  padding-bottom: 0.5rem;
  font-size: 14px;
}

.times-button p {
  margin: 0rem;
  font-weight: 300;
  font-size: 12px;
}

.times-button:hover {
  background-color: var(--black);
}

.confirm-modal {
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
}

.confirm-modal .dark-screen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
}

.confirm-modal .modal-content {
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  height: 30vh;
  width: 65vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: white;
}

.testimonial {
  width: 80vw;
  text-decoration: none;
  color: var(--black);
  transition: all 0.5s;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 0.3rem;
  margin: 0.5rem auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.testimonial .thumb {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.testimonial img {
  object-fit: cover;
  min-width: 100%;
}

.testimonial .content {
  padding: 1.5rem;
}

.testimonial p {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 14px
}

.testimonial h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}


/* Breakpoints */
@media only screen and (max-width: 931px) {
  .navbar {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-tab-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    background-color: rgba(198, 18, 25, 0.95);
    position: relative;
  }
  .nav-tab {
    box-sizing: border-box;
    color: white;
    padding: 0.75rem 1.25rem;
    margin: 0;
    flex-grow: 1;
  }

  .nav-tab-container:hover > .nav-tab, .active-nav {
    background-color: black;
    color: white !important;
    border: none !important;
  }

  .navbar .dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar #teachers-dropdown {
    position: absolute;
    left: -82%;
  }

  .navbar #lessons-dropdown {
    position: absolute;
    left: -88.5%;
  }

}


@media only screen and (max-width: 800px) {
  .info-card h2 {
    font-size: 24px;
  }
  .info-card p {
    font-size: 14px;
  }
  .info-slot p {
    font-size: 14px;
  }
  .homepage h1, .lessons h1, .teachers h1, .events h1 {
    font-size: 26px;
  }
  .contact-us h1 {
    font-size: 22px;
  }
  .contact-us h6 {
    font-size: 14px;
  }
  .contact-form label {
    font-size: 16px;
  }
  .about p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 630px) {
  .banner h2 {
    font-size: 34px;
  }
  .banner p {
    font-size: 13px;
    margin-bottom: 0.5rem;
  }
  #booking-banner h2 {
    font-size: 28px;
  }
  #booking-banner p {
    font-size: 12px;
  }
  

  .free-trial, .send-email, .book-trial .button {
    font-size: 12px;
    padding: 0.75rem 1.25rem;
  }
  .contact-information {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .book-trial h3 {
    font-size: 20px;
  }
  .book-trial p, label, .placeholder {
    font-size: 16px;
  }
  .book-trial .lesson-form-section {
    flex-direction: column;
    align-items: flex-start;
  }
  #lesson-category-buttons > * {
    margin-bottom: 0.25rem;
  }
  .times-button p {
    font-size: 12px;
  }

  .home-offers .info-card, .lesson-categories .info-card, .teacher-categories .info-card {
    width: 80vw;
    margin-bottom: 0.5rem;
  }
  .info-slot-content {
    display: flex;
    flex-direction: column;
  }
  .info-slot-thumb img {
    aspect-ratio: 1/1;
    object-position: top;
  }
  .info-slot-thumb {
    box-sizing: border-box;
    margin: 0 1rem 1rem 1rem;
  }

  .testimonial {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr;
  }
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .right-image .about-thumb {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  } .left-image .about-thumb {
    width: 100%;
    margin-bottom: 1rem;
  }
  .gallery, .contact-content {
    grid-template-columns: 1fr 1fr;
  }
}